{% extends 'base.html.twig' %}

{% block body %}
    <h1>To-do list</h1>

    <table class="table table-hover table-bordered">
        <thead>
            <tr class="table-dark">
                <th>Project Name</th>
                <th>Task Name</th>
                <th>Description and Materials </th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for taskPerUser in tasksPerUser %}
            <tr>

                <td>{{ taskPerUser.project }}</td>
                <td>{{ taskPerUser.name }}</td>
                <td id="des">{{ taskPerUser.desproject }}</td>
                <td>
                    {{ include('homepage/_updateDescription_form.html.twig') }}
                    {{ include('homepage/_updateState_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
