{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    <h1>Project index</h1>
    <a href="{{ path('project_new') }}">Create new</a>

    <table class="table table-hover table-bordered">
        <thead>
            <tr class="table-dark">
                <th>Id</th>
                <th>Contractnumber</th>
                <th>Name</th>
                <th>Registrationdate</th>
                <th>Startdate</th>
                <th>Endtime</th>
                <th>Description</th>
                <th>Advances</th>
                <th>Totalcost</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.contractnumber }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.registrationdate ? project.registrationdate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ project.startdate ? project.startdate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ project.endtime ? project.endtime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ project.description }}</td>
                <td>{{ project.advances }}</td>
                <td>{{ project.totalcost }}</td>
                <td>
                    <a href="{{ path('project_show', {'id': project.id}) }}">show</a>
                    <a href="{{ path('project_edit', {'id': project.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
