{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    <h1>Project index</h1>
    <a href="{{ path('project_new') }}"><i class="far fa-plus-square">New Project</i></a>

    <table class="table table-hover table-bordered">
        <thead>
            <tr class="table-dark">
                <th>Contract Number</th>
                <th>Name</th>
                <th>Start Date</th>
                <th>End Time</th>
                <th>Description</th>
                <th>Advances</th>
                <th>Total Cost</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.contractnumber }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.startdate ? project.startdate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ project.endtime ? project.endtime|date('Y-m-d H:i:s') : '' }}</td>
                <div id="limit">   
                    <td>{{ project.description }}</td>
                </div>
                <td>{{ project.advances }}</td>
                <td>{{ project.totalcost }}</td>
                <td>
                    <a href="{{ path('project_show', {'id': project.id}) }}"><i class="far fa-eye"> Show</i></a>
                    <br>
                    <a href="{{ path('project_edit', {'id': project.id}) }}"><i class="fas fa-edit"> Edit</i> </a>
                        {{ include('project/_assignTask_form.html.twig') }}
                        {{ include('project/_assignWorker_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
