{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    <h1>Project</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ project.id }}</td>
            </tr>
            <tr>
                <th>Contract number</th>
                <td>{{ project.contractnumber }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ project.name }}</td>
            </tr>
            <tr>
                <th>Registration Date</th>
                <td>{{ project.registrationdate ? project.registrationdate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>StarT Date</th>
                <td>{{ project.startdate ? project.startdate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>End time</th>
                <td>{{ project.endtime ? project.endtime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ project.description }}</td>
            </tr>
            <tr>
                <th>Advances</th>
                <td>{{ project.advances }}</td>
            </tr>
            <tr>
                <th>Total Cost</th>
                <td>{{ project.totalcost }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('project_index') }}"><i class="fas fa-hand-point-left"> back to list</i></a>

    <a href="{{ path('project_edit', {'id': project.id}) }}"><i class="fas fa-edit"> Edit</i></a>

    {{ include('project/_delete_form.html.twig') }}
{% endblock %}
