{% extends 'base.html.twig' %}

{% block title %}Lista de materiales{% endblock %}

{% block body %}
    <h1>Lista de materiales</h1>
    <h4><a href="{{ path('material_new') }}"><i class="fas fa-archive"> Agregar un nuevo material</i></a></h4>
    {{ form_start(form) }}
    {{ form_end(form) }}
    
    <table class="table table-hover table-bordered">
        <thead>
            <tr class="table-dark">
                <th>Imagen</th>
                <th>Ubicación</th>
                <th>Nombre</th>
                <th>Inventario</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if shares is empty %}
                {% for material in materials %}
                        {% if material.minimumLimit is null or material.minimumLimit>material.stock %}
                            <tr class="table-danger">
                                <td><img src="{{ vich_uploader_asset(material, 'imageFile') }}" alt="{{ material.name }}" height="100">
                                </td>
                                <td id="desc">{{ material.location }}</td>
                                <td>{{ material.name }}</td>
                                <td>{{ material.stock }}</td>
                                <td id="desc">{{ material.description }}</td>
                                <td>
                                    {{ include('material/_show_form.html.twig') }}                    
                                    {{ include('material/_edit_form.html.twig') }}
                                    {{ include('material/_movement_form.html.twig') }}  
                                </td>
                            </tr>
                        {% else %}
                            <tr class="table-success">
                                <td><img src="{{ vich_uploader_asset(material, 'imageFile') }}" alt="{{ material.name }}" height="100">
                                </td>
                                <td id="desc">{{ material.location }}</td>                                
                                <td>{{ material.name }}</td>
                                <td>{{ material.stock }}</td>
                                <td id="desc">{{ material.description }}</td>
                                <td>
                                    {{ include('material/_show_form.html.twig') }}                    
                                    {{ include('material/_edit_form.html.twig') }}
                                    {{ include('material/_movement_form.html.twig') }}
                                </td>
                            </tr>
                        {% endif %}

                {% else %}
                    <tr>
                        <td colspan="8"> No se encontraron registros</td>
                    </tr>
                {% endfor %}
            {% else %}
                {% for material in materials %}
                    {% for share in shares %}
                        {% if material.id == share['id'] %}
                            {% if material.minimumLimit is null or material.minimumLimit>material.stock %}
                            <tr class="table-danger">
                                <td><img src="{{ vich_uploader_asset(material, 'imageFile') }}" alt="{{ material.name }}" height="100">
                                </td>
                                <td id="desc">{{ material.location }}</td>                                
                                <td>{{ material.name }}</td>
                                <td>{{ material.stock }}</td>
                                <td id="desc">{{ material.description }}</td>
                                <td>
                                    {{ include('material/_show_form.html.twig') }}                    
                                    {{ include('material/_edit_form.html.twig') }}
                                    {{ include('material/_movement_form.html.twig') }}  
                                </td>
                            </tr>
                        {% else %}
                            <tr class="table-success">
                                <td><img src="{{ vich_uploader_asset(material, 'imageFile') }}" alt="{{ material.name }}" height="100">
                                </td>
                                <td id="desc">{{ material.location }}</td>
                                <td>{{ material.name }}</td>
                                <td>{{ material.stock }}</td>
                                <td id="desc">{{ material.description }}</td>
                                <td>
                                    {{ include('material/_show_form.html.twig') }}                    
                                    {{ include('material/_edit_form.html.twig') }}
                                    {{ include('material/_movement_form.html.twig') }}
                                </td>
                            </tr>
                        {% endif %}

                        {% endif %}
                    {% endfor %}
                {% endfor %}
                
            {% endif %}
            
        </tbody>
    </table>
{% endblock %}
