{% block body %}
   <h1>Lista de Herramientas</h1>
    <table class="table table-hover table-bordered">
        <thead>
            <tr class="table-dark">
                <th>Nombre</th>
                <th>Inventario</th>
                <th>Ubicación</th>
                <th>Descripción</th>
                <th>Límite mínimo</th>
            </tr>
        </thead>
        <tbody>
        {% for tool in tools %}
                <tr>
                    <td>{{ tool.name }}</td>
                    <td>{{ tool.stock }}</td>
                    <td>{{ tool.location }}</td>
                    <td id="desc">{{ tool.description }}</td>
                    <td>{{ tool.minimumLimit }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">No se encontraron registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
