{% extends 'base.html.twig' %}

{% block title %}Task index{% endblock %}

{% block body %}
    <h1>Task index</h1>
    <h4><a href="{{ path('task_new') }}"><i class="fas fa-tasks"> Add new Task</i></a></h4>

    <table class="table table-hover table-bordered">
        <thead>
            <tr class="table-dark">
                <th>Id</th>
                <th>Name</th>
                <th>Time Per Minute</th>
                <th>Description</th>
                <th>Cost Per Task</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.name }}</td>
                <td>{{ task.timeperminute }}</td>
                <td id="desc">{{ task.description }}</td>
                <td>{{ task.costpertask }}</td>
                <td>
                    <a href="{{ path('task_show', {'id': task.id}) }}"><i class="far fa-eye"> Show</i></a>
                    <br>
                    <a href="{{ path('task_edit', {'id': task.id}) }}"><i class="fas fa-edit"> Edit</i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
