{% extends 'base.html.twig' %}

{% block title %}Material List{% endblock %}

{% block body %}
    <h1>Material List</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Barcode</th>
                <th>Name</th>
                <th>Stock</th>
                <th>Location</th>
                <th>Description</th>
                <th>Minimum Limit</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for material in materials %}
            <tr>
                <td>{{ material.barcode }}</td>
                <td>{{ material.name }}</td>
                <td>{{ material.stock }}</td>
                <td>{{ material.location }}</td>
                <td>{{ material.description }}</td>
                <td>{{ material.minimumLimit }}</td>
                <td>
                    <a href="{{ path('material_show', {'id': material.id}) }}">show</a>
                    <a href="{{ path('material_edit', {'id': material.id}) }}">edit</a>
                    {{ include('material/_movement_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('material_new') }}">Create new</a>
{% endblock %}
