{% extends 'base.html.twig' %}

{% block title %}Material List{% endblock %}

{% block body %}
    <h1>Material List</h1>

    <a href="{{ path('material_new') }}">Create new</a>

    <table class="table table-hover table-bordered">
        <thead>
            <tr class="table-dark">
                <th>Name</th>
                <th>Stock</th>
                <th>Location</th>
                <th>Description</th>
                <th>Minimum Limit</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for material in materials %}
            <tr>
                <td>{{ material.name }}</td>
                <td>{{ material.stock }}</td>
                <td>{{ material.location }}</td>
                <td>{{ material.description }}</td>
                <td>{{ material.minimumLimit }}</td>
                <td>
                    <a href="{{ path('material_show', {'id': material.id}) }}">Show details</a>
                    {{ include('material/_movement_form.html.twig') }}
                    <a href="{{ path('material_edit', {'id': material.id}) }}">Upgrade or add more cable</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
