{% extends 'base.html.twig' %}

{% block title %}Cable List{% endblock %}

{% block body %}
    <h1>Cable List</h1>

    <h4><a href="{{ path('cable_new') }}"><i class="fas fa-dolly"> Add a new cable</i></a></h4>
    <table class="table table-hover table-bordered">
        <thead>
            <tr class="table-dark">
                <th>Image</th>
                <th>Name</th>
                <th>Availability</th>
                <th>Location</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cable in cables %}
            {% if cable.minimumLimit is null or cable.minimumLimit>cable.availability %}
                <tr class="table-warning">
                    <td><img src="{{ vich_uploader_asset(cable, 'imageFile') }}" alt="{{ cable.name }}" height="100"></td>
                    <td>{{ cable.name }}</td>
                    <td>{{ cable.availability }}</td>
                    <td id="desc">{{ cable.location }}</td>
                    <td id="desc">{{ cable.description }}</td>
                    <td>
                        <a href="{{ path('cable_show', {'id': cable.id}) }}" ><i class="far fa-eye"> Show details</i></a>
                        <br>
                        <a href="{{ path('cable_edit', {'id': cable.id}) }}"><i class="fas fa-edit"> Upgrade or add more cable</i></a>
                        {{ include('cable/_movement_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td><img src="{{ vich_uploader_asset(cable, 'imageFile') }}" alt="{{ cable.name }}" height="100"></td>
                    <td>{{ cable.name }}</td>
                    <td>{{ cable.availability }}</td>
                    <td id="desc">{{ cable.location }}</td>

                    <td id="desc">{{ cable.description }}</td>
                    <td>
                        <a href="{{ path('cable_show', {'id': cable.id}) }}"><i class="far fa-eye"> Show details</i></a>
                        <br>
                        <a href="{{ path('cable_edit', {'id': cable.id}) }}"><i class="fas fa-edit"> Upgrade or add more cable</i></a>
                        {{ include('cable/_movement_form.html.twig') }}
                    </td>
                </tr>
            {% endif %}

        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
