{% extends 'base.html.twig' %}

{% block title %}Cable{% endblock %}

{% block body %}
    <h1>Cable</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Image</th>
                <td>
                    <img src="{{ vich_uploader_asset(cable, 'imageFile') }}" alt="{{ cable.name }}" height="100">
                </td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ cable.id }}</td>
            </tr>
            <tr>
                <th>Barcode</th>
                <td>{{ cable.barcode }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ cable.name }}</td>
            </tr>
            <tr>
                <th>Availability</th>
                <td>{{ cable.availability }}</td>
            </tr>
            <tr>
                <th>Weight per meter</th>
                <td>{{ cable.weightPerMeter }}</td>
            </tr>
            <tr>
                <th>Purchase price per meter</th>
                <td>{{ cable.purchasePrice }}</td>
            </tr>
            <tr>
                <th>Sale price per meter</th>
                <td>{{ cable.salePrice }}</td>
            </tr>
            <tr>
                <th>Minimum Limit</th>
                <td>{{ cable.minimumLimit }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ cable.location }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ cable.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('cable_index') }}"><i class="fas fa-hand-point-left"> back to list</i></a>
    <br>
    <a href="{{ path('cable_edit', {'id': cable.id}) }}"><i class="fas fa-edit"> Upgrade or add more cable</i></a>
    {{ include('cable/_delete_form.html.twig') }}

{% endblock %}
