{% extends 'base.html.twig' %}

{% block title %}Tool index{% endblock %}

{% block body %}
    <h1>Tool index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Barcode</th>
                <th>Name</th>
                <th>Stock</th>
                <th>Description</th>
                <th>Brand</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tool in tools %}
            <tr>
                <td>{{ tool.id }}</td>
                <td>{{ tool.barcode }}</td>
                <td>{{ tool.name }}</td>
                <td>{{ tool.stock }}</td>
                <td>{{ tool.description }}</td>
                <td>{{ tool.brand }}</td>
                <td>{{ tool.price }}</td>
                <td>
                    <a href="{{ path('tool_show', {'id': tool.id}) }}">show</a>
                    <a href="{{ path('tool_edit', {'id': tool.id}) }}">edit</a>
                    {{ include('tool/_movement_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tool_new') }}">Create new</a>
{% endblock %}
